        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card my-1">
            <a href="<%- kumquat.url%>">
              <img class="card-img-top" src="<%- picture %>" alt="Card image cap">
            </a>
            <div class="card-body text-center">
              <a href="<%- kumquat.url%>">
                <h3 class="card-title"><%- kumquat.title %></h5>
                <p class="card-text"><%- kumquat.description %></p>
              </a>
              <br>
            </div>
            <div class="card-footer text-muted text-center resource_attributes">
              <p class="card-text"><a href="/search/<%- kumquat.tags%>"><i class="fas fa-tag"></i> <%- kumquat.tags%></a></p>
              <p class="card-text"><a href="/user/<%- user.id %>"><i class="far fa-user"></i> <%- user.name %></a></p>
              <p class="card-text"><i class="fas fa-brain"></i> <%- kumquat.likes%> | <i class="far fa-star"></i> <%- kumquat.rating%></p>
            </div>
          </div>
        </div>
